<!DOCTYPE html>
<html ng-app>
<head>
    <title>CodeStory Challenge 2013</title>
    <meta charset='utf-8'>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <style>
        .liste table {
            width: 600px;
        }

        .sort-true::before{ content:'↓ '; }
        .sort-false::before{ content:'↑ '; }
    </style>
</head>
<body ng-controller="CodeStoryCtrl">
<div class="container">
    <div class="page-header">
        <h1>CodeStory Challenge 2013</h1>
    </div>
    <div class="liste">
        <h3>Liste des {{participants.data.length}} participants</h3>

        <p>Cette liste n'est pour l'instant pas mise &agrave; jour en temps r&eacute;el...</p>

        <form  class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="inputQuery">Recherche : </label>
                <div class="controls">
                    <input ng-model="query" id="inputQuery" type="text" class="input-medium search-query"/>
                </div>
            </div>
        </form>

        <table class="table table-striped">
            <tr>
                <th>Gravatar</th>
                <th ng:class="selectedCls('name')" ng:click="changeSorting('name')">Participant</th>
                <th ng:class="selectedCls('levelForSort')" ng:click="changeSorting('levelForSort')">Score</th>
                <th ng:class="selectedCls('time')" ng:click="changeSorting('time')">Réponse</th>
                <th>Rang</th>
            </tr>
            <tr ng-repeat="participant in participants.data | filter:query | orderBy:sort.column:sort.descending">
                <td><img width="32" height="32" ng-src="{{participant.gravatar}}"/></td>
                <td>{{participant.name}}</td>
                <td>{{participant.level}}</td>
                <td>{{participant.prettyDate}}</td>
                <td>{{participant.rang}}</td>
            </tr>
        </table>
        </div>
    </div>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
<script>
function prettyDate(time){ //  blatlanly adapted from http://ejohn.org/files/pretty.js
    var date = new Date((time || "").replace(/-/g,"/").replace(/[TZ]/g," ")),
        diff = (((new Date()).getTime() - date.getTime()) / 1000),
        day_diff = Math.floor(diff / 86400);
            
    if ( isNaN(day_diff) || day_diff < 0 || day_diff >= 31 )
        return;
            
    return day_diff == 0 && (
            diff < 60 && 'à l\'instant' ||
            diff < 120 && 'il y a 1 minute' ||
            diff < 3600 && 'il y a ' + Math.floor( diff / 60 ) + ' minutes' ||
            diff < 7200 && 'il y a 1 heure' ||
            diff < 86400 && 'il y a ' + Math.floor( diff / 3600 ) + ' heures') ||
        day_diff == 1 && 'hier' ||
        day_diff < 7 && 'il y a ' + day_diff + ' jours' ||
        day_diff < 31 && 'il y a ' + Math.ceil( day_diff / 7 ) + ' semaines';
}

    function padLeft(number, length) {
        var str = '' + number;
        while (str.length < length) {
            str = '0' + str;
        }
        return str;
    }

    function CodeStoryCtrl($scope, $http) {

        $scope.participants = $http.get('data.json').success(function (json) {
            for(i=0;i<json.length;i++) { // gosh, I miss coffeescript when writing thoses...
                json[i].prettyDate = prettyDate(json[i].time)
                json[i].levelForSort = padLeft(1000-json[i].level, 3) + json[i].time;
            }
            // Sort on levelForSort
            json.sort(function(participant1, participant2){
                if (participant1.levelForSort < participant2.levelForSort) {
                    return -1;
                }
                if (participant1.levelForSort > participant2.levelForSort) {
                    return 1;
                }
                return 1;
            });

            // Calculate "Rang"
            // If levelForSort is equal, same rang.
            lastRang = 1;
            lastLevel = "";
            for (i=0;i<json.length;i++) {
                if (lastLevel == json[i].levelForSort) {
                    json[i].rang = lastRang;
                } else {
                    lastRang = i+1;
                    lastLevel = json[i].levelForSort;
                    json[i].rang = lastRang;
                }
            }
            return json
        });


        $scope.sort = {
            column: 'levelForSort',
            descendingDisplay:true,
            descending: false
        };

        $scope.selectedCls = function (column) {
            return column == $scope.sort.column && 'sort-' + $scope.sort.descendingDisplay;
        };

        $scope.changeSorting = function (column) {
            var sort = $scope.sort;
            if (sort.column == column) {
                sort.descending = !sort.descending;
                sort.descendingDisplay = !sort.descendingDisplay;
            } else {
                sort.column = column;
                sort.descendingDisplay = false;
                sort.descending = false;
                if (sort.column == 'levelForSort') {
                    sort.descendingDisplay = !sort.descendingDisplay;
                }
            }
        };

    }
</script>
</html>
