<!DOCTYPE html>
<html ng-app="codeStoryStatusApp">
<head>
    <title>CodeStory Challenge 2013</title>
    <meta charset='utf-8'>
    <link type='image/png' rel='shortcut icon' href='fusee-16x16.png'/>
    <link href="css/bootstrap-combined.min.css" rel="stylesheet">
    <style>
        .table td {
            vertical-align: middle;
        }

        h3 {
            text-align: center;
        }

        th {
            white-space: nowrap;
        }

        .sort-true::before {
            content: '↓ ';
        }

        .sort-false::before {
            content: '↑ ';
        }
    </style>
</head>
<body ng-controller="CodeStoryCtrl" ng-cloak >
<div class="container">
    <div class="page-header">
        <h1>CodeStory Challenge 2013</h1>
    </div>
    <div class="row">
        <div class="span6">
            <h3>Liste des {{participants.data.length}} participants</h3>

            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="inputQuery">Recherche : </label>

                    <div class="controls">
                        <input ng-model="query" id="inputQuery" type="text" class="input-medium search-query"/>
                    </div>
                </div>
            </form>

            <table class="table table-striped">
                <tr>
                    <th ng-class="selectedCls('name')" ng-click="changeSorting('name')">Participant</th>
                    <th ng-class="selectedCls(levelForSort)" ng-click="changeSorting(levelForSort)">Score</th>
                    <th ng-class="selectedCls('perf')" ng-click="changeSorting('perf')">Performance</th>
                    <th ng-class="selectedCls('time')" ng-click="changeSorting('time')">Réponse</th>
                </tr>
                <tr ng-repeat="participant in participants.data | filter:query | orderBy:sort.column:sort.descending">
                    <td><img width="32" height="32" ng-src="{{participant.gravatar}}"/> {{participant.name}}</td>
                    <td>{{participant.level}} / {{participant.maxLevel}}</td>
                    <td>{{participant.perf}} / {{participant.maxPerf}}</td>
                    <td>{{participant.time | prettyDate}}</td>
                </tr>
            </table>
        </div>
        <div class="span6">
            <h3>Participants par score</h3>

            <div id="container"></div>
        </div>
    </div>
</div>
</body>
<script src="js/angular.min.js"></script>
<script src="js/underscore-min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/highcharts.js"></script>
<script>
    angular.module("codeStoryStatusApp", []).
            filter('prettyDate', function () {
                return function prettyDate(time) { //  blatlanly adapted from http://ejohn.org/files/pretty.js
                    var date = new Date((time || "").replace(/-/g, "/").replace(/T/g, " ").replace(/\.000Z/g, "")),
                            diff = (((new Date()).getTime() - date.getTime()) / 1000),
                            day_diff = Math.floor(diff / 86400);

                    if (isNaN(day_diff) || day_diff < 0 || day_diff >= 31)
                        return;

                    return day_diff == 0 && (
                            diff < 60 && 'à l\'instant' ||
                                    diff < 120 && 'il y a 1 minute' ||
                                    diff < 3600 && 'il y a ' + Math.floor(diff / 60) + ' minutes' ||
                                    diff < 7200 && 'il y a 1 heure' ||
                                    diff < 86400 && 'il y a ' + Math.floor(diff / 3600) + ' heures') ||
                            day_diff == 1 && 'hier' ||
                            day_diff < 7 && 'il y a ' + day_diff + ' jours' ||
                            day_diff < 31 && 'il y a ' + Math.ceil(day_diff / 7) + ' semaines';
                }
            });

    function padLeft(number, length) {
        var str = '' + number;
        while (str.length < length) {
            str = '0' + str;
        }
        return str;
    }

    function CodeStoryCtrl($scope, $http) {
        $scope.participants = $http.get('data.json').success(drawChart);
        $scope.levelForSort = function (participant) {
            return participant.level * 100000 + participant.perf
        }

        $scope.sort = {
            column: $scope.levelForSort,
            descending: true
        }

        $scope.selectedCls = function (column) {
            return column === $scope.sort.column && 'sort-' + $scope.sort.descending;
        }

        $scope.changeSorting = function (column) {
            var sort = $scope.sort;
            if (sort.column === column) {
                sort.descending = !sort.descending;
            } else {
                sort.column = column;
                sort.descending = false;
            }
        }
    }

    function drawChart(data) {
        var pieData = _.chain(data)
                .countBy("level")
                .pairs()
                .value();

        chart = new Highcharts.Chart({
            chart: {renderTo: 'container'},
            title: {text: ''},
            tooltip: {
                pointFormat: '<b>{point.name} points</b>: {point.percentage}%',
                percentageDecimals: 0
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        formatter: function () {
                            return '<b>' + this.point.name + ' points</b>: ' + Math.round(this.percentage) + ' %';
                        }
                    }
                }
            },
            series: [
                {
                    type: 'pie',
                    name: 'Part',
                    data: pieData
                }
            ]
        })
    }
</script>
</html>
